@import "tailwindcss";

:root {
    --background: #ffffff;
    --foreground: #171717;
}

body {
    background: var(--background);
    color: var(--foreground);
    font-family: var(--font-body), sans-serif;
}

h1, h2, h3, h4, h5, h6 {
    font-family: var(--font-heading), sans-serif;
}