@import "tailwindcss";

:root {
    --background: #ffffff;
    --foreground: #171717;
}

body {
    background: var(--background);
    color: var(--foreground);
    font-family: var(--font-body), sans-serif;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-family: var(--font-heading), sans-serif;
}

/* Custom arrows wrapper */
.hero-swiper .custom-next,
.hero-swiper .custom-prev {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  width: 50px;  
  height: 50px; 
  z-index: 10;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 7px;
  background-color: aliceblue;
  cursor: pointer;
  padding: 10px 20px;
}

/* Position arrows */
.hero-swiper .custom-next { right: 2rem; }
.hero-swiper .custom-prev { left: 2rem; }

/* Hover effect */
.hero-swiper .custom-next:hover,
.hero-swiper .custom-prev:hover {
  filter: brightness(1.3);
}

/* Icon style */
.hero-swiper .custom-next::after,
.hero-swiper .custom-prev::after {
  font-size: 28px; 
  font-weight: 700; 
  color: rgb(40, 40, 40); 
}