@import "tailwindcss";

:root {
  --background: #ffffff;
  --foreground: #171717;
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: var(--font-body), sans-serif;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: var(--font-heading), sans-serif;
}

.hero-swiper .custom-next,
.hero-swiper .custom-prev {
  color: rgb(92, 92, 92);
  position: absolute;
  top: 50%;
  width: 50px;
  height: 50px;
  z-index: 10;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 7px;
  background-color: aliceblue;
  cursor: pointer;
  transform: translateY(-50%);
}

.hero-swiper .custom-next {
  right: 2rem;
}
.hero-swiper .custom-prev {
  left: 2rem;
}

.hero-swiper .custom-next:hover,
.hero-swiper .custom-prev:hover {
  filter: brightness(1.3);
}

.hero-swiper .custom-next::after,
.hero-swiper .custom-prev::after {
  font-size: 28px;
  font-weight: 700;
  color: rgb(40, 40, 40);
}

.hero-swiper .swiper-pagination {
  bottom: 20px;
}

.hero-swiper .swiper-pagination-bullet {
  width: 12px;
  height: 12px;
  background: rgba(255, 255, 255, 0.5);
  opacity: 1;
  border-radius: 50%;
  transition: all 0.3s ease;
}

.hero-swiper .swiper-pagination-bullet-active {
  width: 13px;
  height: 13px;
  background: rgba(255, 255, 255, 1);
}

.hero-swiper .swiper-pagination-bullet:hover {
  cursor: pointer;
}

.card-swiper .custom-pagination {
  bottom: auto;
  margin-top: 1.5rem;
  display: flex;
  justify-content: center;
}

.card-swiper {
  position: relative;
  padding-bottom: 0;
}

.card-swiper .swiper-pagination {
  position: absolute;
  bottom: 0;
  left: 0;
  margin: 50px 0 0 0;
}

.card-swiper .swiper-pagination-bullet {  
  width: 10px;
  height: 10px;
  background-color: rgb(124, 124, 124);
  border-radius: 50%;
  opacity: 1;
}

.card-swiper .swiper-pagination-bullet-active {
  width: 10px;
  height: 10px;
  background-color: rgb(0, 0, 0);
}