@import "tailwindcss";

:root {
  --background: #ffffff;
  --foreground: #171717;
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: var(--font-body), sans-serif;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: var(--font-heading), sans-serif;
}

.hero-swiper .custom-next,
.hero-swiper .custom-prev {
  color: rgb(92, 92, 92);
  position: absolute;
  top: 50%;
  width: 50px;
  height: 50px;
  z-index: 10;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 7px;
  background-color: aliceblue; /* background stays */
  cursor: pointer;
  transform: translateY(-50%);
}

.hero-swiper .custom-next { right: 2rem; }
.hero-swiper .custom-prev { left: 2rem; }

/* Hover */
.hero-swiper .custom-next:hover,
.hero-swiper .custom-prev:hover {
  filter: brightness(1.3);
}

/* Arrow icon style */
.hero-swiper .custom-next::after,
.hero-swiper .custom-prev::after {
  font-size: 28px;
  font-weight: 700;
  color: rgb(40, 40, 40);
}