@import "tailwindcss";

:root {
    --background: #ffffff;
    --foreground: #171717;
}

body {
    background: var(--background);
    color: var(--foreground);
    font-family: var(--font-body), sans-serif;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-family: var(--font-heading), sans-serif;
}

.hero-swiper .swiper-button-next,
.hero-swiper .swiper-button-prev {
    color: rgb(255, 0, 0); 
    width: 18px;
    height: 18px; 
    background: transparent;
    top: 50%;
    transform: translateY(-50%);
    background-color: aliceblue;
}

.hero-swiper .swiper-button-next:hover,
.hero-swiper .swiper-button-prev:hover {
    color: #ff0000;
    filter: brightness(1.3);
}

.hero-swiper .swiper-button-next::after,
.hero-swiper .swiper-button-prev::after {
    font-size: 28px;
    font-weight: 700;
}